* {
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: lightgrey;
}

/* Added background color to nav bar */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: darkblue;
}

.header h1 {
    font-size: 40px;
    margin-left: 50px;
    color: aliceblue;
}

.header nav {
    font-size: 18px;
    margin-right: 25px;
    padding-top: 20px;
    float: right;
    display: flex;
    justify-content: flex-end;
}


.header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header nav ul li {
    display: inline-block;
    margin-right: 25px;
    font-size: 20px;
}

a {
    color: aliceblue;
}

/* Added a hover element to nav links */
header nav ul li a:hover {
    color: lime;
}

/* Added snow mountain background and adjusted fit*/
#hero {
    height: 230px;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    background: url("https://images.unsplash.com/photo-1512273222628-4daea6e55abb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDZ8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80");
    background-position: center;
    object-fit: cover;
}

/* Added design to subtitle on background image */
#hero h2 {
    font-size: 25px;
    color: aliceblue;
    background-color: slategrey;
    opacity: 85%;
    padding: 5px;
}

.about {
    display: flex;
    align-items: flex-start;
    margin: 20px;
}

.about header {
    width: 20%;
    text-align: right;
    padding-right: 10px;
    font-size: 30px;
    align-items: flex-start;
}

.about div {
    width: 75%;
    padding-left: 25px;
    border-left: solid darkblue 5px;
}

/* Added profile pic and adjusted size */
.selfie {
    height: 350px;
    width: 210px;
    position: relative;
    padding: 5px;
    background-color: darkblue;
}

/* Added transition element to enlarge images in work section */
.image {
    padding: 5px;
    background-color: aliceblue;
    transition: transform .1s;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
}

.image:hover {
    transform: scale(1.5);
}

#contact-me ul {
    list-style-type: none;
}

#contact-me ul li {
    display: inline-block;
    margin-left: 40px;
    font-size: 20px;
    text-decoration: underline;
    color: aliceblue;
    padding: 15px;
}

/* Added a hover element to Contact section */
#contact-me ul li a:hover {
    color: lime;
}

/* Added color to text in Contact section */
.details a {
    color: darkblue;
}

/* Added media query for responsive layout */
@media screen and (max-width: 1189px) {
    .image {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .about {
        flex-direction: column;
    }

    .about div {
        border-left: 0px;
        border-top: solid darkblue 5px;
    }
}